li{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    
}

.terrena{
    width: 350px;
    height: 190px;
    border-radius: 50px;
}

p{
    margin: 0;
    padding-left: 0;
    font-size: 35px;
}


a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
}


.navegacao {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 80px;
}

.seta {
    font-size: 90px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    text-decoration: none;
    border-bottom: 2px ;
}

.seta:hover {
    color: #555;
    transform: scale(1.2);
}

h2{
    color: black;
    font-size: 40px;
    font-family: "Barlow Semi Condensed", sans-serif;
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.226);
}

