@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bentham&display=swap');




.duvidas{
    padding-bottom: 200px;
    padding-top: 18px;
    padding-left: 10px;
    background-color: white;
    margin-top: 80px;
    margin-left: 80px;
    border-radius: 20px;
    
}

input::placeholder{
    font-size: 28px;
    color: #BFBDBD;
    font-family: "Bakbak One", sans-serif;
   
}

p{
    font-family: "Bakbak One", sans-serif;
    font-size: 30px;
    margin: 0;
    
}

ul{

    font-size: 25px;
    margin: 0;
    
   
   

}



.conteudo{
 display: flex;
 flex-direction: column;
 padding-left: 50px;
 line-height: 3.0;

}

.div2{
  display: flex;

  
 
    
}

.duvida{
   display: block;
   margin: 50px;
   padding-left: 500px;
   width: 400px;

}

main{
    display: flex;
    
}
